{{extend 'layout.html'}}

<div id="worker_7" class="row section">
    <div class="span12">
        {{=MARKMIN(docs.disabled)}}
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>
            {{=A('1. Clear All', _class="btn clear_all", _href=URL('manage', 'clear_all'), _id="worker_7_clear")}}
            {{=A('2. Start Monitoring', _class="btn monitoring disabled", _href=URL('monitor', 'get_status.load'), _id="worker_7_status")}}
            {{=A('3. Disable Worker', _class="btn primary autoremove", _href=URL('manage', 'disable_workers'), _id="worker_7_disable")}}
            {{=A('4. Queue Task', _class="btn primary autoremove disabled", _href=URL('manage', 'worker7'), _id="worker_7_queue")}}
            {{=A('5. Enable Worker', _class="btn primary autoremove", _href=URL('manage', 'enable_workers'), _id="worker_7_enable")}}
            {{=A('6. Stop Monitoring', _class="btn", _onclick="$('#worker_7_status_container').addClass('w2p_component_stop');return false;")}}
        <p>
        <div id="worker_7_status_container"></div>
    </div>
</div>
<div class="row">
    <div class="span12">
        {{=MARKMIN(comments.disabled)}}
    </div>
</div>
<hr />

<div id="worker_8" class="row section">
    <div class="span12">
        {{=MARKMIN(docs.terminate)}}
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>
            {{=A('1. Clear All', _class="btn clear_all", _href=URL('manage', 'clear_all'), _id="worker_8_clear")}}
            {{=A('2. Start Monitoring', _class="btn monitoring disabled", _href=URL('monitor', 'get_status.load'), _id="worker_8_status")}}
            {{=A('3. Queue Task', _class="btn primary autoremove disabled", _href=URL('manage', 'worker8'), _id="worker_8_queue")}}
            {{=A('4. Terminate worker', _class="btn primary autoremove", _href=URL('manage', 'terminate_workers'), _id="worker_8_terminate")}}
            {{=A('5. Stop Monitoring', _class="btn", _onclick="$('#worker_8_status_container').addClass('w2p_component_stop');return false;")}}
        <p>
        <div id="worker_8_status_container"></div>
    </div>
</div>
<div class="row">
    <div class="span12">
        {{=MARKMIN(comments.terminate)}}
    </div>
</div>
<hr />


<div id="worker_9" class="row section">
    <div class="span12">
        {{=MARKMIN(docs.kill)}}
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>
            {{=A('1. Clear All', _class="btn clear_all", _href=URL('manage', 'clear_all'), _id="worker_9_clear")}}
            {{=A('2. Start Monitoring', _class="btn monitoring disabled", _href=URL('monitor', 'get_status.load'), _id="worker_9_status")}}
            {{=A('3. Queue Task', _class="btn primary autoremove disabled", _href=URL('manage', 'worker9'), _id="worker_9_queue")}}
            {{=A('4. Kill worker', _class="btn primary autoremove", _href=URL('manage', 'kill_workers'), _id="worker_9_kill")}}
            {{=A('5. Stop Monitoring', _class="btn", _onclick="$('#worker_9_status_container').addClass('w2p_component_stop');return false;")}}
        <p>
        <div id="worker_9_status_container"></div>
    </div>
</div>
<div class="row">
    <div class="span12">
        {{=MARKMIN(comments.kill)}}
    </div>
</div>
<hr />



<script type="text/javascript">
    $(function() {
        $('pre').addClass("prettyprint");
        prettyPrint();
        $('a.autoremove').on('click', function(e) {
            e.preventDefault();
            if ($(this).hasClass('disabled')) return;
            var url = $(this).attr('href');
            web2py_ajax_page('GET', url,[],'aaa');
        })
        $('a.clear_all').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            web2py_ajax_page('GET', url,[],$(this).attr('id') + 'a');
        })
        $('a.monitoring').on('click', function(e) {
            e.preventDefault();
            var el = $(this);
            $('a.monitoring').addClass("stopped");
            el.removeClass("stopped");
            if (el.hasClass('disabled')) return;
            el.addClass('disabled');
            target = el.attr('id') + '_container'
            web2py_component(el.attr('href'), target, timeout=2000, times=Infinity)
        })
    })
</script>
